NUXT_PUBLIC_WSS_ENDPOINT=your_wss_endpoint_here
NUXT_PUBLIC_HTTPS_ENDPOINT=your_https_endpoint_here
NUXT_PUBLIC_BLOCKFROST_API_KEY=your_blockfrost_api_key_here
NUXT_PUBLIC_SCRIPT_ADDRESS=your_address_script_here
NUXT_PUBLIC_TX_SCRIPT=your_tx_script_here
NUXT_PUBLIC_ADDRESS_REWARD=your_address_reward_here
NUXT_PUBLIC_PRIVATE_KEY_HEX_REWARD=your_private_key_hex_reward_here
